
<div class="container">
  <div class="col-xs-6">
    <label for="">Stylists</label>
    <div class="well">
      <ul>
        <% @stylists.each do |stylist| %>
          <li><a href="/stylist/<%=stylist.id%>"><%=stylist.name%></a> </li>
        <%end%>
      </ul>
      <form class="" action="/add_stylist" method="post">
        <label for="">Add Stylist</label>
        <div class="container">
          <input type="text" name="stylist_name" value="" placeholder="Name...">
          <button type="submit" class="btn btn-info" name="button">Add Stylist</button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-xs-6">
    <label for="">Clients</label>
    <div class="well">
      <ul>
        <% @clients.each do |client| %>
          <li><a href="/client/<%=client.id%>"><%=client.name%></a> </li>
        <%end%>
      </ul>
      <form class="" action="/add_client" method="post">
        <label for="">Add Client</label>
        <div class="container">
          <input type="text" name="client_name" value="" placeholder="Name...">
          <button type="submit" class="btn btn-info" name="button">Add Client</button>
        </div>
      </form>
    </div>
  </div>
</div>
